.header-serv{
    > h1{
        font-family: 'Glegoo', serif;
        text-align: center;
        font-size: 60px;
        padding-bottom: 95px;
      
    }
}

.card{
    box-shadow: 10px 10px 12px -3px rgba(0,0,0,0.75);
}


